<form
  (ngSubmit)="login()"
  [formGroup]="userLoginForm"
  novalidate
>
  <label>
    Username:
    <input
      [class.invalid]="userLoginForm.controls.username.touched && userLoginForm.controls.username.invalid"
      formControlName="username"
      type="text"
    >
  </label>
  <label>
    Password:
    <input
      [class.invalid]="userLoginForm.controls.password.touched && userLoginForm.controls.password.invalid"
      formControlName="password"
      type="password"
    >
  </label>
  <button
    [disabled]="userLoginForm.invalid"
    type="submit"
    class="waves-effect waves-light btn blue large"
  >
    Zaloguj
  </button>
</form>
