<div class="row no-margin full-height">

  <div
    [roleClass]="{ hide: [ROLE.GUEST] }"
    class="col l2 m4 s6 z-depth-2 grey lighten-4 full-height"
  >
    <app-sidebar></app-sidebar>
  </div>

  <div class="col l10 m8 s6 full-height">
    <router-outlet></router-outlet>
  </div>

</div>
