<ul class="side-menu">
  <li *ifRole="[ROLE.USER]">
    <a
      routerLink="/dashboard"
      routerLinkActive="darken-3"
      class="waves-effect waves-light btn blue"
    >
      Dashboard
    </a>
  </li>
  <li *ifRole="[ROLE.USER]">
    <a
      routerLink="/profile"
      routerLinkActive="darken-3"
      class="waves-effect waves-light btn blue"
    >
      Profile
    </a>
  </li>
  <li *ifRole="[ROLE.GUEST]">
    <a
      routerLink="/login"
      routerLinkActive="darken-3"
      class="waves-effect waves-light btn blue"
    >
      Login
    </a>
  </li>
</ul>
